@charset "UTF-8";

:root {
  --button: #ff0000;
  --main-background: #c4c4c4;
  --background: #e5e5e5;
  --text: #000;
  --footer: #000;
  --text-description: #9c9696;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text);
  font-family: 'Roboto';
  box-sizing: border-box;
}

body {
  background-color: var(--main-background);
}

a {
  text-decoration: none;
}

.navigation {
  padding: 20px;
  position: absolute;
  width: 100%;
}

.navigation ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navigation ul li a {
  font-weight: 700;
  font-size: 1.5rem;
}

.navigation input {
  border: none;
  background-image: url(./assets/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 2px center;
  padding-left: 30px;
  appearance: none;
  margin-left: 10px;
  height: 30px;
}

main {
  display: flex;
}

.card {
  width: 700px;
  background-color: white;
  padding-top: 80px;
  padding-left: 120px;
  padding-right: 50px;
  font-weight: 700;
}

.card h1 {
  font-size: 3.75rem;
}

.card p {
  color: var(--text-description);
  padding-top: 15px;
}

.card .preco {
  font-size: 2.5rem;
  color: var(--text);
}

.card button {
  width: 274px;
  height: 90px;
  appearance: none;
  border: none;
  background-color: var(--button);
  color: white;
  font-size: 1.5rem;
  margin-top: 20px;
}

.galery {
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.galery .focusImg {
  width: 30%;
  min-width: 500px;
}

.galery .navGalery {
  display: flex;
  align-items: center;
  gap: 20px;
}

.galery .navGalery img {
  width: 200px;
  height: 120px;
}

footer {
  position: absolute;
}
